
**/.terraform/*
*.tfplan.*

# /tfstates files
*.tfstates
*.tfstates.*

**/.vscode/*

# Ignore private key
*.tradeling-challenge

/* Got this from 03-kubespray public repo */
03-kubespray/.vagrant
*.retry
**/vagrant_ansible_inventory
03-kubespray/temp
*/.idea
.tox
.cache
*.bak
*.tfstate
*.tfstate.backup
.terraform/
*/contrib/terraform/aws/credentials.tfvars
03-kubespray/ssh-bastion.conf
**/*.sw[pon]
*~
03-kubespray/vagrant/

# Byte-compiled / optimized / DLL files
03-kubespray/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
03-kubespray/env/
03-kubespray/build/
03-kubespray/credentials/
03-kubespray/develop-eggs/
03-kubespray/dist/
03-kubespray/downloads/
03-kubespray/eggs/
.eggs/
03-kubespray/parts/
03-kubespray/sdist/
03-kubespray/var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
03-kubespray/pip-log.txt
03-kubespraypip-delete-this-directory.txt

# Unit test / coverage reports
03-kubespray/htmlcov/
.tox/
.coverage
.coverage.*
.cache
03-kubespray/nosetests.xml
03-kubespray/coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
03-kubespray/local_settings.py

# Flask stuff:
03-kubespray/instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
03-kubespray/docs/*

# PyBuilder
03-kubespray/target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version.vagrant
*.retry
**/vagrant_ansible_inventory
03-kubespray/temp/*
.idea
.tox
.cache
*.bak
*.tfstate
*.tfstate.backup
03-kubespray/.terraform/
03-kubespray/contrib/terraform/aws/credentials.tfvars
03-kubespray/ssh-bastion.conf
**/*.sw[pon]
*~
03-/vagrant/

# Ansible inventory
03-kubespray/inventory/*
03-kubespray/inventory/hosts
!03-kubespray/inventory/local
!03-kubespray/inventory/sample

03-kubespray/inventory/*/artifacts/
03-kubespray/inventory*/mycluster/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
credentials/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/


# dotenv
.env

# virtualenv
venv/
ENV/
credentials.tfvars
